* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

:root {
    --main-clr: deepskyblue;
    --box-shadow: 0rem .5rem .5rem rgba(0,0,0,.3);
    --glowing-bxs: 0 0 .1rem deepskyblue,
    0 0 .2rem deepskyblue,
    0 0 .3rem deepskyblue,
    0 0 .5rem deepskyblue;
    --heading: calc(25px + (50 - 25) * ((100vw - 300px) / (1500 - 300)));
    --big-fz: calc(30px + (100 - 30) * ((100vw - 300px) / (1500 - 300)));
    --large-fz: calc(30px + (80 - 30) * ((100vw - 300px) / (1500 - 300)));
    --medium-fz: calc(16px + (20 - 16) * ((100vw - 300px) / (1500 - 300)));
    --small-fz: calc(16px + (16 - 12) * ((100vw - 300px) / (1500 - 300)));
    --h3-fz: calc(14px + (25 - 14) * ((100vw - 300px) / (1500 - 300)));
    --user-name-fz: calc(14px + (30 - 14) * ((100vw - 300px) / (1500 - 300)));
    --info-box-fz: calc(14px + (40 - 14) * ((100vw - 300px) / (1500 - 300)));
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

body {
    padding-left: 35rem;
    background: #0d1117;
}


body {
    --sb-track-color: #222;
    --sb-thumb-color: deepskyblue;
    --sb-size: 1rem;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: 0.7rem 3rem;
    background: #0d1117;
    color: #ffffff;* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;

}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
    padding-left: 35rem;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5rem;
    font-size: var(--medium-fz);
}

.btn i {
    padding: 0rem 0.5rem;
    font-size: var(--small-fz);
}

.btn:hover {
    background: var(--main-clr);
}

.heading {
    text-align: center;
    margin: 3rem 0rem;
    font-size: var(--heading);
    padding: 1rem;
    color: #ffffff;
    border-bottom: .1rem solid #fff4;
}

.heading span {
    color: var(--main-clr);
}



header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35rem;
    background: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    z-index: 1000;
}

header .user img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--main-clr);
    box-shadow: var(--glowing-bxs);
}

header .user .name {
    color:#ffffff;
    font-size: var(--user-name-fz);
}

header .user p {
    color:#ffffff;
    font-size: var(--medium-fz);
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
display: block;
padding: 1rem;
text-decoration: none;
margin: 1.5rem 0rem;
background: #333;
color: #ffffff;
font-size: var(--medium-fz);
border-radius: 1rem;
}

header .navbar ul li a:hover {
    background: var(--main-clr);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: #ffffff;
    cursor: pointer;
    font-size: var(--medium-fz);
    padding: 1rem 1.5rem;
    z-index: 1000;
    border-radius: 0.5rem;
    display: none;
}



.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 8rem;
}

.home .container {
    display: flex;
}

.home h3 {
    font-size: var(--big-fz);
    color: #ffffff;
}

.home .container .first-text {
    font-size: var(--large-fz);
    color: #ffffff;
}

.home .container {
    height: 9rem;
    line-height: 9rem;
    overflow: hidden;
}

.home .container .second-text li {
    list-style: none;
    font-size: var(--large-fz);
    color: var(--main-clr);
    padding: 0rem 2rem;
    text-shadow: 0 0 1rem var(--main-clr);
    position:relative;
    top: 0;
    animation: slide 6s steps(3) infinite, color 7s infinite;
}

@keyframes slide {
    100% {
        top: -27rem;
    }
}

@keyframes color {
    100% {
        filter: hue-rotate(360deg)
    }
}

.home p {
    font-size: var(--small-fz);
    color: #ffffff;
    padding: 1rem 0rem;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.about .row .info {
    flex: 1 1 50rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h4 {
font-size: var(--medium-fz);
color: var(--main-clr);
padding: 1rem 0rem;
}

.about .row .info h4 span{
    color: #ffffff;
    padding: 0rem 0.5rem;
}

.about .row .info-box {
    flex: 1 1 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .info-box .box{
    flex: 1 1 20rem;
    background-color: #0d1117;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .info-box .box span {
    color: var(--main-clr);
    font-size: var(--info-box-fz);
}

.about .row .info-box .box h3 {
    color: #ffffff;
    font-size: var(--h3-fz);
}

.information .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    padding-left: 3rem;
}

.information .box-container .box {
    flex: 1 1 30rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 0.2rem solid #ffffff;
    position: relative;
}

.information .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    color: #ffffff;
    background-color: var(--main-clr);
    font-size: var(--medium-fz);
    box-shadow: var(--glowing-bxs);
}

.information .box-container .box span {
    background: #0d1117;
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.information .box-container .box h3 {
    font-size: var(--medium-fz);
    color: #ffffff;
    padding-top: 1.5rem;
}

.information .box-container .box p {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 0rem;
}

.OMW .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    padding-left: 3rem;
}

.OMW .box-container .box {
    flex: 1 1 25rem;
    height: 25rem;
    border-radius: 2rem;
    border: .5rem solid var(--main-clr);
    margin: 2.5rem;
    box-shadow: var(--glowing-bxs);
    overflow: hidden;
    cursor: pointer;
}

.OMW .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.OMW .box-container .box:hover img {
    transform: scale(1.1);
} 





@media (max-width: 8000px) {
    .home {
        padding: 1rem 4rem;
    }

    .wrapper {
        padding-left: 35rem;
    }
}

@media (max-width: 1200px) {
    .home {
        padding: 1rem 4rem;
    }

    .wrapper {
        padding-left: 35rem;
    }
}

@media (max-width: 991px) {
    header {
        left: -120%;
    }

    .wrapper {
        padding-left: 0rem;
    }

    #menu {
        display: block;
    }

    header.active {
        left: 0%;
    }

    .wrapper.active {
        padding-left: 35rem;
    }

    body {
        padding: 0;
    }
}




@media (max-width: 400px) {
    header {
        width: 100vw;
    }

}







.quiz {
	position: relative;
	padding: 2rem 2rem calc(2rem + 70px);

	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 600px;
	max-width: 95vw;
	overflow: hidden;
}

.title{
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
	margin: 0;
}

.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}

.quiz-list {
	list-style-type: none;
	padding: 0;
}

.quiz-list li {
	font-size: 1.2rem;
}

.quiz-list label {
	cursor: pointer;
	width: 100%;
    display: block;
	padding: 1rem 0.5rem;
}

.quiz-list label:hover {
	background-color: seashell;
}

.quiz-list label.correct {
	color: rgb(36, 144, 77);
	font-weight: bold;
}

.quiz-list label.disabled {
	cursor: no-drop;
}

.quiz-list label.disabled:hover {
	cursor: no-drop;
	background-color: transparent;
}

.quiz-list label.wrong {
	color: rgb(218, 59, 59);
	font-weight: bold;
}

.quiz-list input[type="radio"] {
	margin-right: 10px;
}

.quiz-submit {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	line-height: 70px;
}

.submit {
	background-color: var(--main-clr);
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;

}

.submit:hover {
	background-color: #00b3ff;
}

.submit:focus {
	outline: none;
	background-color: #007bff;
}

.submit.next {
	background-color: #000000;
}

.submit.next:hover {
	background-color: #222222;
}

.submit.next:focus {
	outline: none;
	background-color: #444444;
}

.quiz-list.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	color: #94ca00;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}




